<nav class="mobile-nav">
  <ul>
    <li>
      <button id="menu" class="btn btn-link secondary" type="button">
        <span class="sr-only">Menu</span>

        <div id="menu-content">
        {% include icon-menu.svg.html %}
        <span>Menu</span>
        </div>

        <div id="close-content">
          {% include icon-close.svg.html %}
          <span>Close</span>
        </div>

      </button>
    </li>
    <li>
      <button class="btn btn-link secondary" type="button">
        <span class="sr-only">Menu</span>
          {% include icon-profile.svg.html %}
        <span>Account</span>
      </button>
    </li>
    <li>
      <button class="btn btn-link secondary" type="button">
        <span class="sr-only">Menu</span>
         {% include icon-search.svg.html %}
        <span>Search</span>
      </button>
    </li>
    <li>
      <button class="btn btn-link secondary" type="button">
        <span class="sr-only">Menu</span>
         {% include icon-chat.svg.html %}
        <span>Chat</span>
      </button>
    </li>
  </ul>
</nav>