<nav class="mobile-nav">
  <ul>
    <li>
      <button class="btn btn-link secondary" type="button">
        <span class="sr-only">Menu</span>
        {% include icon-menu.svg.html %}
        <span>Menu</span>
      </button>
    </li>
    <li>
      <button class="btn btn-link secondary" type="button">
        <span class="sr-only">Menu</span>
          {% include icon-profile.svg.html %}
        <span>Account</span>
      </button>
    </li>
    <li>
      <button class="btn btn-link secondary" type="button">
        <span class="sr-only">Menu</span>
         {% include icon-search.svg.html %}
        <span>Search</span>
      </button>
    </li>
    <li>
      <button class="btn btn-link secondary" type="button">
        <span class="sr-only">Menu</span>
         {% include icon-chat.svg.html %}
        <span>Chat</span>
      </button>
    </li>
  </ul>
</nav>