<div id="nav-menu" class="nav-menu">

  <ul>
    <li data-signed-out="">
      <a id="crds-shared-header-mobile-signin" href="https://www.crossroads.net/signin">
        Crossroads
        {% include icon-angle-right.svg.html %}
      </a>
  </li>
    <li>
      <a role="button" data-toggle="collapse" data-target="#mobile-collapse-p4kpfqrkqf" data-automation-id="sh-about-mobile">
        Media
        {% include icon-angle-right.svg.html %}
      </a>
      <ul id="mobile-collapse-80c5m76q23r" class="collapse">
        <li><a href="//media.crossroads.net" data-automation-id="sh-allmedia-mobile">All Media</a></li>
        <li><a href="//media.crossroads.net/series" data-automation-id="sh-series-mobile">Series</a></li>
        <li><a href="//media.crossroads.net/music" data-automation-id="sh-music-mobile">Music</a></li>
        <li><a href="https://www.youtube.com/user/crdschurch/" data-automation-id="sh-videos-mobile">Videos</a></li>
        <li><a href="//media.crossroads.net/articles" data-automation-id="sh-articles-mobile">Articles</a></li>
        <li><a href="//media.crossroads.net/podcasts" ui-sref="media.podcasts" data-automation-id="sh-podcasts-mobile">Podcasts</a></li>
        <li><a href="//www.crossroads.net/live" target="_blank" data-automation-id="sh-livestreaming-mobile">Live Streaming</a></li>
        <li><a href="https://www.youtube.com/crdschurch" target="_blank" data-automation-id="sh-youtube-mobile">YouTube Channel</a></li>
      </ul>
    </li>
    <li>
      <a role="button" data-toggle="collapse" data-target="#mobile-collapse-ne05t8wfcnm" data-automation-id="sh-grow-mobile">
        Grow
        {% include icon-angle-right.svg.html %}
      </a>
      <ul id="mobile-collapse-ne05t8wfcnm" class="collapse">
        <li><a href="https://www.crossroads.net/getstarted/" data-automation-id="sh-getstarted-mobile">Get Started</a></li>
        <li><a href="https://www.crossroads.net/groups/" data-automation-id="sh-groups-mobile">Groups</a></li>
        <li><a href="https://www.crossroads.net/serve/" data-automation-id="sh-servingopportunities-mobile">Serving Opportunities</a></li>
        <li><a href="http://www.crossroads.net/reachout/go" data-automation-id="sh-go-mobile">GO Somewhere</a></li>
        <li><a href="https://www.crossroads.net/the-chaser/" data-automation-id="sh-thechaser-mobile">The Chaser</a></li>
        <li><a href="https://www.crossroads.net/connect" data-automation-id="sh-getstarted-mobile">See who is nearby</a></li>
        <li><a href="https://www.crossroads.net/connect" data-automation-id="sh-groups-mobile">Put yourself on the map</a></li>
      </ul>
    </li>
    <li>
      <a href="https://www.crossroads.net/serve/" data-automation-id="sh-serve-mobile">
        Serve
        {% include icon-angle-right.svg.html %}
      </a>
    </li>
    <li>
      <a role="button" data-toggle="collapse" data-target="#mobile-collapse-80c5m76q23r" data-automation-id="sh-media-mobile">
        Connect
        {% include icon-angle-right.svg.html %}
      </a>
    </li>
    <li>
      <a href="https://www.crossroads.net/giving/" data-automation-id="sh-giving-mobile">
        Ministry &amp; Care
        {% include icon-angle-right.svg.html %}
      </a>
    </li>
    <li>
      <a href="https://www.crossroads.net/updates" data-automation-id="sh-updates-mobile">
        Contact
        {% include icon-angle-right.svg.html %}
      </a>
    </li>
  </ul>

</div>