<nav class="subnav sticky-top">
  <menu>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topics/culture">
        Culture
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topics/faith">
        Faith
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topics/culture">
        Finances
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topics/culture">
        Leadership
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topics/culture">
        Relationship
      </a>
    </div>

    <div class="vert-divider"></div>

    <div class="menu-item">
      <a href="https://media.crossroads.net/articles">
        Articles
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/music">
        Music
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/podcast">
        Podcast
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/leadership">
        Leadership
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/relationship">
        Relationship
      </a>
    </div>



  </menu>
</nav>