<nav class="subnav">
  <menu>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topic/culture">
        Culture
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topic/faith">
        Faith
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topic/culture">
        Finances
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topic/culture">
        Leadership
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topic/culture">
        Relationship
      </a>
    </div>

    <div class="menu-item">|</div>

    <div class="menu-item">
      <a href="https://media.crossroads.net/topic/culture">
        Articles
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topic/faith">
        Music
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topic/culture">
        Podcast
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topic/culture">
        Leadership
      </a>
    </div>
    <div class="menu-item">
      <a href="https://media.crossroads.net/topic/culture">
        Relationship
      </a>
    </div>



  </menu>
</nav>