//@import "crds-styles-sprockets";

//New shared header
.cont-logo-v2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
a.logo-v2 {
  padding: 1rem 0;
  svg {
    width: 130px;
  }
}
.cont-subscribe .btn:hover {
    background:rgba(240,240,240,0.75);
    text-decoration: none;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fdfdfd;
  border-top: 1px solid #eee;
  z-index: 4;
  .btn {
    margin: 0;
    border: none;
    padding: 12px 16px;
    :active, :focus {outline: none;}
  }
}
.mobile-nav dl, ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mobile-nav>ul, .mobile-nav>ul>li {
  display: flex;
}
.mobile-nav>ul {
  justify-content: space-between;
}
.mobile-nav>ul>li {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 25%;
}
.mobile-nav .with-submenu {
  position: relative;
}
.mobile-nav>ul>li:nth-child(n+2) {
  border-left: 1px solid #eee;
}
.mobile-nav .icon {
  display: block;
  margin: auto;
  margin-bottom: 0.1rem;
}
.mobile-nav span {
  font-size: 80%;
}