//@import "crds-styles-sprockets";

//New shared header
.cont-logo-v2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
a.logo-v2 {
  padding: 1rem 0;
  svg {
    width: 130px;
  }
}
.cont-subscribe .btn:hover {
    background:rgba(240,240,240,0.75);
    text-decoration: none;
}

//Mobile Navbar
.mobile-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fdfdfd;
  z-index: 55;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  &.open {
    box-shadow: none;
  }
  .btn {
    margin: 0;
    border: none;
    padding: 13px 16px 10px 16px;
    border: none;
    border-radius: 0;
    border-top: 1px solid #eee;
    #close-content {
      display: none;
    }
  }
  .btn:active, .btn.active {
    outline: none;
    background-color: #1D3647;
    border-top: 1px solid #1D3647;
    color: #fff;
    text-decoration: none;
    svg path {
      fill: #fff;
    }
    #close-content {
      display: block;
    }
    #menu-content {
      display: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;  
  }
  > ul {
    display: flex;
  }
  > ul > li {
    display: flex;
  }
  > ul {
    justify-content: space-between;
  }
  > ul > li {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25%;
  }
  > ul > li:nth-child(n+2) {
    border-left: 1px solid #eee;
  }
  .icon {
    display: block;
    margin: auto;
    margin-bottom: 0.1rem;
  }
  span {
    font-size: 80%;
  }
}

//Mobile Megamenu
.mobile-megamenu {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  background: #1D3647;
  color: #A5BDCC;
  height: 0;
  opacity: 0;
  overflow: hidden;
  overflow: scroll;
  transition: opacity .15s,height 0s .15s;
  padding-bottom: 8rem;
  &.open {
    height: 100%;
    opacity: 1;
    transition: opacity .15s,height 0s;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;  
  }
  ul li a {
    border-top: 1px solid #3D5667;
    color: #A5BDCC;
    display: block;
    padding: 1rem;
    margin: 0 1rem;
    position: relative;
    &:hover {
      text-decoration: none;
    }
  }
  ul li ul li a {
    display: block;
    border: none;
    padding: 0.8rem 2rem;
    position: relative;
    &:hover {
      text-decoration: none;
    }
  }  
  ul li ul li:last-child a {
    margin-bottom: 1rem;
  }
  ul li svg {
    display: block;
    position: absolute;
      top: calc(50% - 8px); //center in container then adjust for height of icon
    right: 1rem;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
  ul li > a.collapsed svg {
    transform: rotate(0deg);
  }
  .screwhead {
    text-align: center;
    a {
      padding: .5rem;
      margin: .5rem;
      display: block;
    }
    svg path {
      fill: #A5BDCC;
    }
  }

}